<header>
  <div class="header-nav">
    <a href="/">TOP</a>
    <p>ようこそ、<%= locals.Namae %>さん</p>
    <ul>
      <li><a href="/loggedinindex">リスト</a></li>
      <% if( locals.isLoggedIn ) { %>
            <li><a href="/logout">ログアウト</a></li>
            <% } else { %>
            <li><a href="/login">ログイン</a></li>
            <%  } %>
    </ul>
  </div>
  <p>Sagut Zurvey</p>
</header>
