<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Progate</title>
  <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-left">
        <!--ロゴは後でいれる　-->
        <img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png">
      </div>

      <span class="fa fa-bars menu-icon"></span>

      <div class="header-right">


        <p><a href="/add">データを加えました！</a></p>


      </div>
    </div>
  </header>

    <div class="logged-container" style="margin-top:50px;">

    </div>
</body>
</html>
