<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
      <meta name="viewport" content="width=device-width, initial-scale=1
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
           <%-include('header'); %>
          <!--ロゴは後でいれる　-->
          <img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png">
        </div>

        <span class="fa fa-bars menu-icon"></span>

        <div class="header-right">

          <p><a href="/loggedinindex">レストランのレビューを見る</a></p>
          <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>

    <div class="top-wrapper">
      <div class="container">
        <h1>SAGAT ZURVEY TOKYO</h1>
        <h1>東京、本当に美味い店</h1>
        <p>今はなき ZAGAT SURVEYの転生です</p>


    </div>

  </body>
</html>
